<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vue - Todo List</title>

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

  </head>
  <body>
    <div id='root'>

      <!-- Inserimento voce elenco -->
      <input @keyup.enter="pushElement" v-model="inputAttivita">
      <button @click="pushElement"> Aggiungi</button>

      <!-- Lista todo -->
      <div class="bg-todolist">
        <ul class="todolist">
          <li v-for="(att,indexList) in listaTodo" class="todo-element" >
            <span >{{att}}</span><i @click="removeElement(indexList)" class="fas fa-times"></i>
          </li>
        </ul>
      </div>

    </div>
    <script src="./js/main.js" charset="utf-8"></script>
  </body>
</html>
